<div class="container input-form-box">
  <h4>Enter a word:</h4>
  <form action="/user_input" method="post">
    <div>
      <label for="word">Enter a word:</label>
      <input class="form-control" type="text" name="word" pattern="[A-za-z]{1,20}" title="Enter a word">
    </div>
    <div>
      <label for="definition">Enter the definition:</label>
      <input class="form-control" type="text" name="definition" pattern="[a-zA-Z\s\.0-9]{1,255}" title="Enter a definition">
    </div>
    <div class="button">
    <button type="button-default button submit" name="button" title="Add a new word to the list!">Create</button>
    </div>
  </form>
</div>

<div class="container input-form-box">
  <form action="/user_clear" method="post">
    <div class="button">
      <label for="clear">Delete your List! </label>
      <button type="button-default button" name="clear" title="Careful!  This will delete your word list!">Clear!</button>
    </div>
  </form>
</div>


<div class="container output-form-box">
  <h4>The word you clicked on:</h4>
  <p><%= @output_word %> <%= @output_def %></p>
</div>

<div class="container edit-form-box">
  <h4>Words you can view:</h4>
  <% Word.all.each do |single_word| %>
  <div class="edit-form-box-sub">
    <form action="/worddef<%= single_word.id %>" method="get">
    <h6><%= single_word.dictionary_word %></h6>
    <button type="button-primay button" name="select" value="<%= single_word.id %>">Edit word: <%= single_word.dictionary_word %></button>
    </form>
  </div>
  <% end %>
</div>
